.header{
    position: fixed;
    width: 100%;
    margin: 0px;
    top: 0%;
    left: 0%;
}

.header{
    background-color: dimgray;
    padding: 0%;
    width: 100%;
    height: 110%
    padding 30px;

}

.nav__links{
    word-spacing: 50px;
}

@font-face {
    font-family: "Akira Expanded";
    src: url('fonts/Akira Expanded.ttf');
}

h1{
    font-family: 'Akira Expanded';
    font-size: 30px;
}
